.container {
	position: relative;
}

.inputWithToggle {
	padding-right: 2.25rem;
}

.toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	height: 100%;
	width: 2.25rem;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
	color: var(--color-gray-500);
	transition-property: color, box-shadow;
	transition-duration: 150ms;
	outline: none;
	background: none;
	border: none;
	cursor: pointer;

	&:hover {
		color: var(--color-black);
	}

	&:focus {
		z-index: 10;
	}

	&:focus-visible {
		border-color: var(--color-blue-300);
		box-shadow:
			0 0 0 1px var(--color-blue-300),
			0 0 0 4px rgba(31, 124, 255, 0.5);
	}

	&:disabled {
		pointer-events: none;
		cursor: not-allowed;
		opacity: 0.5;
	}
}

:global(.dark) .toggle {
	color: var(--color-gray-400);

	&:hover {
		color: var(--color-white);
	}
}
