.input {
	height: 2.75rem;
	width: 100%;
	min-width: 0;
	border-radius: 0.375rem;
	border: 1px solid var(--color-gray-200);
	background-color: transparent;
	padding: 0.25rem 0.75rem;
	font-size: var(--font-size-16);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	transition-property:
		color, background-color, border-color, text-decoration-color, fill, stroke,
		box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	outline: none;
	color: var(--color-black);

	&::file-selector-button {
		display: inline-flex;
		height: 1.75rem;
		border: 0;
		background-color: transparent;
		font-size: var(--font-size-14);
		font-weight: var(--font-weight-medium);
		color: var(--color-black);
	}

	&::placeholder {
		color: var(--color-gray-300);
	}

	&::selection {
		background-color: var(--color-blue-100);
		color: var(--color-white);
	}

	&:focus-visible {
		border-color: var(--color-blue-300);
		box-shadow:
			0 0 0 1px var(--color-blue-300),
			0 0 0 4px rgba(31, 124, 255, 0.5);
	}

	&:disabled {
		pointer-events: none;
		cursor: not-allowed;
		opacity: 0.5;
	}

	&[aria-invalid="true"] {
		border-color: var(--color-red-300);
		box-shadow:
			0 0 0 1px var(--color-red-300),
			0 0 0 4px rgba(255, 36, 36, 0.2);
	}

	@media (min-width: 768px) {
		font-size: var(--font-size-14);
	}
}

:global(.dark) .input {
	background-color: rgba(255, 255, 255, 0.05);
	color: var(--color-white);
	border-color: var(--color-gray-400);

	&::placeholder {
		color: var(--color-gray-300);
	}

	&::file-selector-button {
		color: var(--color-white);
	}

	&[aria-invalid="true"] {
		box-shadow:
			0 0 0 1px var(--color-red-300),
			0 0 0 4px rgba(255, 36, 36, 0.4);
	}
}
